*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.states {
  fill: #e5e5e5;
  stroke: #fff;
  stroke-width: 2px;
}

.county:hover {
  stroke: rgb(102, 231, 51);
  stroke-width: 2px;
}

#tooltip {
  position: absolute;
  pointer-events: none;
}

#tooltip {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #333;
  color: #eee;
}